[user]
	name = Miles Bryant
	email = milesbryant@monzo.com
	signingkey = 43A8B34FE3CD9642
[core]
	editor = nvim
	autocrlf = input
	excludesfile = /home/miles/.gitignore-global
[commit]
	template = ~/.gitmessage
	gpgsign = true
[push]
	default = current
[alias]
	st = status
	cma = commit -a -m
	unstage = reset HEAD --
	plg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[pull]
	rebase = true

[url "https://github.com/"]
    insteadOf = gh:

[url "https://gist.github.com/"]
    insteadOf = gist:

[url "https://bitbucket.org/"]
    insteadOf = bb:

[url "git@github.com:monzo/"]
    insteadOf = mz:

[merge]
	tool = kdiff3
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	program = gpg2
